* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.app {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: top;
  justify-content: center;
  background-color: #373b40;
}

.board {
  min-width: 300px;
  min-height: 400px;
  padding: 20px 10px;
  border-radius: 3px;
  margin: 40px 30px;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #2f3137;
}

.board__title {
  font-size: 1.5rem;
  font-weight: 700;
  color: #f6e7de;
}

.card {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  cursor: grab;
  background-color: #1e2021;
}